.App {
  text-align: center;
  margin-left:auto;
  min-height: 100vh; 
  background-color: #2c2d31;

}
.container{
  margin:0;
  padding:0;
  
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
